
.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  
  /* Styling for carousel item */
  .carousel-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: lightblue; /* Temporary color, can be changed */
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Centering the title text */
  .carousel-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
  }
  
  .carousel-title h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  .carousel-title h3 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    transition: all 0.3s ease;
  }
  
  /* Styling for smaller screens */
  @media (max-width: 768px) {
    .carousel-title h2 {
      font-size: 2rem;
    }
  
    .carousel-title h3 {
      font-size: 2rem;
    }
    .hero-section {
       
        height:210px;
       
      }
  }
  
  /* Styling for the carousel controls */
  .carousel-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
  }
  
  .carousel-control-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
 




    transition: background-color 0.3s ease;
  }
  
  .carousel-control-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-control-button.left {
    margin-left: 20px;
  }
  
  .carousel-control-button.right {
    margin-right: 20px;
  }
  
  /* Styling for the navigation arrows on smaller screens */
  @media (max-width: 768px) {
    .carousel-control-button {
      font-size: 1.5rem;
    }
  }
  